.model{
  text-align: center;
  font-size: 60px;
  font-family: Montserrat;
  font-weight: bold;
  margin-bottom: 0px;
}

.order{
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  font-family: Montserrat;
}

.del{
  text-decoration: underline;
}