p{
  margin-top: 0px ;
  margin-bottom: 0px;
  font-family: Roboto, Arial;
}

body{ 
  /*This is a comment*/
  margin:0px ;
  padding-top: 80px ;
  margin-bottom: 7000px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
  font-family: Roboto, Arial;
}